%h1 Here are all the wildfires

- @wildfires.each do |f|
	Name:
	= f.name
	%br
	burning since:
	= f.start_date
	%br
	current size:
	= f.fire_size
	%br
	location:
	= f.location.name
	%br
	%br



%h3 search 
= form_tag search_wildfires_path, method: "get" do
	= radio_button :type, "type", 1
	=	radio_button :type, "type", 2
	=	radio_button :type, "type", 3
	%br
	= text_field_tag :search, params[:search]
	= submit_tag "search", :name => nil






