%h1 Here are all the wildfires

- @wildfires.each do |f|
	Name:
	= f.name
	%br
	burning since:
	= f.start_date.strftime("%B %e %Y ")
	%br
	current size:
	= f.fire_size
	%br
	location:
	= f.location.name
	%br
	%br



%h3 search 
= form_tag search_wildfires_path, method: "get" do
	%br
	= text_field_tag "search[search]"
	=	select_tag 'search[location]', options_for_select(Location.pluck(:name)),include_blank: true
	=	label_tag "check only fires that are still burning"
	=	check_box_tag "search[still_burning]"
	= date_field_tag "search[start_date]"	
	= submit_tag "search"






